In [1]:
import mysql.connector

In [7]:
from getpass import getpass

from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
    user=input("User name: "),
    password=getpass("Password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

User name: root
Password: ········
<mysql.connector.connection_cext.CMySQLConnection object at 0x000002064CB8ACD0>

In [2]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
    ) as connection:
        create_db_query="CREATE DATABASE online_movie_rating"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query) 
except Error as e:
    print(e)

User name: root
Password: ········
1007 (HY000): Can't create database 'online_movie_rating'; database exists

In [3]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
    ) as connection:
        show_db_query="SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(show_db_query)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

User name: root
Password: ········
('information_schema',)
('mysql',)
('online_movie_rating',)
('performance_schema',)
('sys',)

In [4]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

User name: root
Password: ········
<mysql.connector.connection_cext.CMySQLConnection object at 0x000002CA9F2D3760>

In [8]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        create_movies_table_query="""
        CREATE TABLE movies(
            id INT AUTO_INCREMENT  PRIMARY KEY,
            title VARCHAR(100),
            release_year YEAR(4),
            genre VARCHAR(100),
            collection_in_mil INT
        )
        """
        
        with connection.cursor() as cursor:
            cursor.execute(create_movies_table_query)
            connection.commit()
except Error as e:
    print(e)

User name: root
Password: ········

In [4]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        create_reviewers_table_query="""
        CREATE TABLE reviewers(
            id INT AUTO_INCREMENT  PRIMARY KEY,
            first_name VARCHAR(100),
            last_name VARCHAR(100)
        )
        """
        
        with connection.cursor() as cursor:
            cursor.execute(create_reviewers_table_query)
            connection.commit()
except Error as e:
    print(e)

User name: root
Password: ········

In [5]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        create_ratings_table_query="""
        CREATE TABLE ratings(
            movie_id INT,
            reviewer_id INT,
            rating DECIMAL(2,1),
            FOREIGN KEY(movie_id) REFERENCES movies(id),
            FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
            PRIMARY KEY(movie_id,reviewer_id)
        )
        """
        
        with connection.cursor() as cursor:
            cursor.execute(create_ratings_table_query)
            connection.commit()
except Error as e:
    print(e)

User name: root
Password: ········

In [6]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        show_table="SHOW TABLES"
        with connection.cursor() as cursor:
            cursor.execute(show_table)
            result=cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

User name: root
Password: ········
('movies',)
('ratings',)
('reviewers',)

In [10]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        show_table_query="DESCRIBE movies"
        with connection.cursor() as cursor:
            cursor.execute(show_table_query)
            result=cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

User name: root
Password: ········
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(100)', 'YES', '', None, '')
('release_year', b'year', 'YES', '', None, '')
('genre', b'varchar(100)', 'YES', '', None, '')
('collection_in_mil', b'int', 'YES', '', None, '')

In [12]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        alter_table_query="""
            ALTER TABLE movies
            MODIFY COLUMN collection_in_mil DECIMAL(4,1)
            """
        show_table_query="DESCRIBE movies"
        with connection.cursor() as cursor:
            cursor.execute(alter_table_query)
            cursor.execute(show_table_query)
            result=cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

User name: root
Password: ········
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(100)', 'YES', '', None, '')
('release_year', b'year', 'YES', '', None, '')
('genre', b'varchar(100)', 'YES', '', None, '')
('collection_in_mil', b'decimal(4,1)', 'YES', '', None, '')

In [13]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        drop_table_query="DROP TABLE ratings"
        with connection.cursor() as cursor:
            cursor.execute(drop_table_query)
        
except Error as e:
    print(e)

User name: root
Password: ········

In [14]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        show_table="SHOW TABLES"
        with connection.cursor() as cursor:
            cursor.execute(show_table)
            result=cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

User name: root
Password: ········
('movies',)
('reviewers',)

In [15]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        create_ratings_table_query="""
        CREATE TABLE ratings(
            movie_id INT,
            reviewer_id INT,
            rating DECIMAL(2,1),
            FOREIGN KEY(movie_id) REFERENCES movies(id),
            FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
            PRIMARY KEY(movie_id,reviewer_id)
        )
        """
        
        with connection.cursor() as cursor:
            cursor.execute(create_ratings_table_query)
            connection.commit()
except Error as e:
    print(e)

User name: root
Password: ········

In [16]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        show_table="SHOW TABLES"
        with connection.cursor() as cursor:
            cursor.execute(show_table)
            result=cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

User name: root
Password: ········
('movies',)
('ratings',)
('reviewers',)

In [17]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        insert_movies_query="""
            INSERT INTO movies (title, release_year,genre,collection_in_mil)
            VALUES
                ("Forrest Gump",1994,"Drama",330.2),
                ("3 Itiots", 2009, "Drama", 2.4),
                ("Good will hunting",1997, "Drama", 138.1),
                ("Skyfall",2012,"Action", 304.6),
                ("Gladiator",2000,"Action",188.7)
            """    
        with connection.cursor() as cursor:
            cursor.execute(insert_movies_query)
            connection.commit()   
except Error as e:
    print(e)

User name: root
Password: ········

In [19]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("User name: "),
        password=getpass("Password: "),
        database="online_movie_rating",
    ) as connection:
        insert_reviewres_query="""
            INSERT INTO reviewers (first_name,last_name)
            VALUES(%s,%s)
            """
        reviewers_records= [
            ("Astghik", "Avetisyan"),
            ("Karapet", "Kogarov"),
            ("Artur", "Kogarov"),
            ("Anri", "Kogarov")
        ]      
                
        with connection.cursor() as cursor:
            cursor.executemany(insert_reviewres_query,reviewers_records)
            connection.commit()   
except Error as e:
    print(e)

User name: root
Password: ········